@import './variable.less';

.container {
	>.block {
		margin-bottom: 8px;
		border: 1px solid @green;
		border-radius: 4px;
		overflow: hidden;
		
		>.header {
			height: 16px;
			line-height: 16px;
			padding: 8px;
			background-color: @green;
			color: #ffffff;
		}

		>.body {
			padding: 8px;


		}
	}
}